img {
    width: 250px;
}
p{
    border: 2px solid red;
    background-color: rgb(189, 189, 202);
    margin: 50px
    padding: 15px;
    width: 50%;

}
.different-image{
width: 350px;
border: 4px solid black;
}

.different-image:hover{
    width: 350px;
    border: 8px solid blue;
    border-radius: 50%;
    box-shadow: 4px 6px 3px darkgrey;
}
#new-id{
    border: 10px solid black
}